<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Form Data</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Form Data</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(dict_len) %}
                <tr>
                    <td>{{ i }}</td>
                    {% for key in mongo_data[i].keys() %}
                    <td>{{ key }} </td>
                    {% endfor %}
                    {% for value in mongo_data[i].values() %}
                    <td>{{ value }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
